* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body {
	background: url(../assets/SophiaBackground.png);
	background-position: center;
	overflow: hidden;
	animation: background_anim 100s linear infinite;
}

@keyframes background_anim {
	0% {background-position: -2226px 0;}
	100% {background-position: 0 0;}
}