* {
	margin: 0;
	padding: 0;
}

body {
	background: url(SophiaBackground.png);
	background-position: center;
	overflow: hidden;
	animation: background_anim 150s linear infinite;
}

@keyframes background_anim {
	0% {background-position: -2122px 0;}
	100% {background-position: 0 0;}
}

#sideBar {
	position: fixed;
	width: 40%;
	height: 100%;
	background-color: black;
	transition: 1000ms;
	left: -40%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#sideBar.active {
	left: 0%;
}

#sideBar ul li {
	padding: 10px 15px;
	border-bottom: 1px solid rgb(255, 255, 255, 0.5);
	justify-content: center;
}

#sideBar ul {
	text-align: center;
	background-color: black;
}

#sideBar ul a {
	color: white;
	text-decoration: none;
	font-size: 40px;
	font-family: arial;
}

#sideBar ul a:hover {
	color: blue;
	transition: 500ms;
}

#sideBar .toggle-btn {
	width: 60px;
	height: 60px;
	background: url(https://i.ibb.co/HrfVRcx/menu.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: calc(100% + 20px);
	transition: 500ms;
}

#sideBar .toggle-btn.active {
	background: url(https://i.ibb.co/rt3HybH/menu.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}

#Title {
	border-radius: 10px;
	font-size: 75px;
	font-family: 'Cedarville Cursive', cursive;
	position: absolute;
	width: 500px;
	height: 135px;
	left: calc(50% - 250px);
	top: calc(40% - 67.5px);
	border: 5px solid rgb(120,118,150);
	background-color: rgba(20, 50, 200, 0.95);
	text-align: center;
	font-size: 50;
	padding-top: 20px;
}

#coverDiv {
	position: absolute;
	top: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 1000ms;
}

#coverDiv.active {
	width: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 1000ms;
}

#instagramIcon {
	position: absolute;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	top: calc(100% - 65px);
	cursor: pointer;
}

#subPieces {
	border: 5px solid green;
	border-radius: 5px;
	position: absolute;
	top: 135px;
	left: calc(-100% - 10px);
	width: 70%;
	background-color: black; 
	transition: 1000ms;
}

#subPieces.active {
	left: 100%;
	transition: 1000ms;
}