#Title {
	border-radius: 10px;
	font-size: 75px;
	font-family: 'Cedarville Cursive', cursive;
	position: absolute;
	width: 500px;
	height: 135px;
	left: calc(50% - 250px);
	top: calc(40% - 67.5px);
	border: 5px solid rgb(120,118,150);
	background-color: rgba(20, 50, 200, 0.95);
	text-align: center;
	font-size: 50;
	padding-top: 20px;
}